<div class="form-container">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signup()">

        <h1>Student Signup Form</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="firstName"><b>First name</b></label>
        <input type="text" placeholder="Enter First name" name="firstName" class="in" formControlName="firstName"
            required>

        <label for="lastName"><b>Last name</b></label>
        <input type="text" placeholder="Enter Last name" name="lastName" class="in" formControlName="lastName" required>

        <label for="phoneNumber"><b>Phone Number</b></label>
        <input type="text" placeholder="Enter phone number" name="phoneNumber" class="in" formControlName="phoneNumber"
            required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" class="in" formControlName="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" class="in" formControlName="password"
            required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" class="in" formControlName="repassword"
            required>
        <button type="submit" class="signup-btn" [disabled]="!signupForm.valid">Sign Up</button>

    </form>
    <button class="signup-btn" (click)="googleSignup()">Sign Up with Google</button>
    <button class="signup-btn" (click)="facebookSignup()">Sign Up with Facebook</button>
</div>