@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,600;1,700;1,900&display=swap');

$font-family:'Monserrat', sans-serif;
$whiteTeal :linear-gradient( white 0, white 30%, rgb(5, 119, 136) 30%, rgb(5, 119, 136) 80%);
$primary-teal : teal;
$secondary-orange: rgb(255, 78, 14);

