a:hover {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 100%;
  z-index: 100;
}

.header .contact-small {
  position: relative;
  height: 3vh;
  background-color: teal;
}

.header .contact-small p,
.header .contact-small span {
  display: inline-block;
  font-size: 10px;
  margin: 0 10px;
  color: #fff;
}

.header .contact-small span {
  color: #ffcc00;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  padding: 20px;
  background-color: black;
  color: white;
}

.header .menu ul {
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}

.header .menu ul li {
  display: table-cell;
  text-align: center;
  list-style: none;
}

.header .menu a,
.header .menu .login-menu a,
.header .menu #home a {
  text-decoration: none;
  position: relative;
  width: 100px;
  text-align: center;
  font-size: 13px;
  color: white;
  display: inline-block;
  margin: 0 15px;
}

.header .menu a:active,
.header .menu .login-menu a:active,
.header .menu #home a:active {
  background-color: white;
  color: black;
}

.header .menu a:after,
.header .menu .login-menu a:after,
.header .menu #home a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 40%;
  position: absolute;
  background: teal;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header .menu a:hover::after,
.header .menu .login-menu a:hover::after,
.header .menu #home a:hover::after {
  width: 100%;
  left: 0;
}

.header span.login-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header span.login-menu a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  float: right;
}

.carousel {
  margin-top: -5vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}

.carousel-item img {
  height: 90vh;
}

.carousel-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  height: 60vh;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.551);
  border: 2px solid teal;
}

.carousel-caption h5 {
  font-size: 35px;
}

.carousel-caption p {
  font-size: 13px;
}

.carousel-caption button {
  border: none;
  padding: 6px;
  border-radius: 5px;
  background-color: teal;
  color: white;
  font-size: 12px;
}

.middle-banner {
  height: 80vh;
  position: relative;
  background-color: white;
  width: 75vw;
  margin: auto;
  margin-top: -5%;
}

.middle-banner .programs {
  height: 15vh;
  margin-bottom: 6%;
  padding-top: 10px;
  background: linear-gradient(105deg, teal 70%, #ff6600 30%);
  -webkit-column-count: 4;
          column-count: 4;
  color: white;
}

.middle-banner .programs p {
  text-decoration: none;
}

.middle-banner .programs p a {
  text-decoration: none;
  color: white;
  text-indent: 15px;
}

.middle-banner .programs p a:hover {
  background: rgba(1, 88, 82, 0.32);
}

.middle-banner .programs p .fas {
  font-size: 30px;
}

.middle-banner .news {
  display: table;
  width: 100%;
  height: 10vh;
  font-size: 12px;
  color: #ffc400;
  list-style: none;
}

.middle-banner .news .col {
  width: 33.3%;
  height: 100%;
  display: table-cell;
  background-color: black;
  text-align: center;
}

.middle-banner .news .col h4 {
  font: 600 30px/12px;
  color: rgba(1, 88, 82, 0.32);
}

.middle-banner .news .col-1-3 h4 {
  color: white;
}

.middle-banner .news .col-2-3 {
  background-color: #9cfa9c;
  background-image: url("../../assets/img/collaborating-around-the-world-geo-alignment.jpg");
  background-size: cover;
  position: relative;
}

.middle-banner .news .col-2-3 h4 {
  margin: auto 20%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ff5e00;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 900;
  text-shadow: 1px 4px black;
}

.middle-banner .news .col-2-3 p {
  color: black;
  margin: auto;
}

.middle-banner .news .col-3-3 {
  background-color: rgba(1, 43, 61, 0.803);
}

.middle-banner .news .col-3-3 h4 {
  font: 600 20px/10px sans-serif;
  color: white;
}

.middle-banner .news .col-3-3 li {
  font-size: 15px;
  color: #fff9f9;
  list-style: square;
  text-align: start;
  text-shadow: 1px 1px #330202;
}

.about-us {
  height: 500px;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #fc6704), color-stop(10%, white), color-stop(20%, white), color-stop(20%, #fc6704), color-stop(80%, #fc6704), color-stop(80%, white), color-stop(90%, white), color-stop(90%, #fc6704));
  background: linear-gradient(to right, #fc6704 10%, white 10%, white 20%, #fc6704 20%, #fc6704 80%, white 80%, white 90%, #fc6704 90%);
  margin: 100px auto;
}

.about-us h5 {
  font-size: 25px;
  color: #fff6f6;
  text-align: center;
  padding: 5px;
}

.about-us .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 75vw;
  height: 55vh;
  margin: auto;
}

.about-us .grid-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background: #003f48;
  color: white;
  border: 2px solid white;
}

.about-us .grid-1 h3 {
  text-align: center;
  color: orangered;
}

.about-us .grid-1 p {
  -webkit-column-count: 2;
          column-count: 2;
  padding: 10px;
}

.about-us .grid-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background: url("../../assets/img/avengers.jpeg") no-repeat;
  background-size: cover;
  border: 2px solid white;
}

#team {
  background: linear-gradient(10deg, 50%, teal 50%) repeat;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  margin: 50px auto;
}

#team h2 {
  color: #faf8f8;
  text-align: center;
  font-size: 28px;
}

#team h2:before {
  display: inline-block;
  content: " ";
  height: 2px;
  width: 100px;
  background-color: #f44;
  margin-bottom: 10px;
}

#team h2:after {
  display: inline-block;
  content: " ";
  height: 2px;
  width: 100px;
  background-color: #000;
  margin-bottom: 10px;
}

#team .card {
  display: inline-block;
  width: 25%;
  padding: 0 10px;
  margin: 5px 8px;
  background: rgba(181, 243, 239, 0.605);
  -webkit-box-shadow: 1px 1px #484242;
          box-shadow: 1px 1px #484242;
}

#team .card h2 {
  color: #4f4830;
}

#team .card p {
  color: #2f1515;
  font-weight: 400;
}

#team .wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}

#team .wrapper:after {
  content: "";
  display: block;
  padding-top: 100%;
}

#team .wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: 28px;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 1px 2px 3px #160b80;
          box-shadow: 1px 2px 3px #160b80;
}

.gallery h1 {
  text-align: center;
  font-weight: 900;
  color: #e7e7e7;
  text-shadow: 1px 2px brown;
  font-size: 35px;
  margin-top: 25px;
}

.container-gallery {
  min-height: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  background: linear-gradient(24deg, #013148 55%, #026360 55%);
}

.container-gallery .card {
  position: relative;
  width: 320px;
  height: 240px;
  margin: 15px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  background: none;
}

.container-gallery .card:hover .card-body {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.container-gallery .card .card-body {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.container-gallery .card .card-body .card-desc {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  background-color: black;
  padding: 2px;
  color: white;
  top: 10%;
  font-size: 14px;
  font-weight: 900;
  left: 50%;
  bottom: 10%;
}

.container-gallery .card .card-body .card-desc h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #06ffc5;
  text-shadow: 2px 1px #03441d;
}

.container-gallery .card .wrapper {
  position: relative;
  overflow: hidden;
}

.container-gallery .card .wrapper img {
  height: 240px;
  width: 300px;
  border: 2px solid black;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.container-gallery .card .wrapper img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 10px;
}

.btn-default {
  color: teal;
  font-weight: 600;
}

.btn-default:hover {
  color: chocolate;
}

.footer {
  position: relative;
  bottom: 0;
  top: 100%;
  height: 50px;
  margin: 20px 0 0 0;
  background-color: black;
  color: white;
  text-align: center;
}

.footer address span {
  margin-left: 5px;
}

.footer address .link {
  color: chocolate;
}

.footer address .address {
  color: orangered;
}

@media screen and (max-width: 870px) {
  .contact-small,
  .nav-ref {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .carousel-caption {
    height: 25vh;
    width: 75%;
    margin: 0;
  }
}
/*# sourceMappingURL=landing.component.css.map */