<!-- dashboard -->
<div class="main-container">
    <div class="welcome">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2>Welcome {{user.displayName}} </h2>
                        <p class="card-text">Ready for another awesome day? Let's do this. Look at your weekly summary
                            <br>
                            Work hard today as well! Do not give up! You're awesome!!
                        </p>
                        <img src="../../../assets/img/sitting-girl-removebg-preview.png" alt="" class="sitting-girl">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cards 1st row -->
    <div class="card-deck">
        <div class="card">
            <div class="card-body text-center">
                <i class="fa fa-question"></i>
                <h2>QUIZZES</h2>
                <p class="card-text">Total : 15</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <i class="fa fa-book-reader"></i>
                <h2>Assginments</h2>
                <p class="card-text">Total: 5</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <i class="fa fa-users"></i>
                <h2>Students Enrolled</h2>
                <p class="card-text">35</p>
            </div>
        </div>
    </div>
    <!-- Cards 2nd row -->
    <div class="card-deck deck-one">
        <div class="card one">
            <div class="card-body text-center">
                <i class="fa fa-question"></i>
                <h2>Something</h2>
                <p class="card-text">Total : 15</p>
            </div>
        </div>
        <div class="card two">
            <div class="card-body text-center">
                <i class="fa fa-book-reader"></i>
                <h2>Another</h2>
                <p class="card-text">Total: 5</p>
            </div>
        </div>
    </div>
</div>