<div class="main-container">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        + Classroom
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Classroom Form</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <label class="InsName" for="InsName">Instructor Name</label><br>
                        <input type="text" id="InsName" name="InsName"><br>
                        <label class="title" for="title">Classroom Name</label><br>
                        <input type="text" id="title" name="title" required><br>
                        <label for="description">Description:</label><br>
                        <textarea type="text" id="description" name="description" rows="3"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>