<p>class-details works!</p>
<h1>{{singleClass.name}}</h1>
<section class="chat-sec">
    <div class="students-container">
        <ul class="list-group" *ngFor="let student of students; let i = index">
            <li class="list-group-item" [class.current]="i == currentIndex" (click)="setCurrent(student, i)">{{student.displayName}}</li>
          </ul>
    </div>
    <div class="chat-container">
        <div class="messages-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div *ngIf="messageLoader">
            <mat-spinner color="warn"></mat-spinner>
          </div>
            <div class="card" *ngFor="let message of messages" [class.sender]="message.sender == user.displayName">
                <div class="card-header">
                  {{message.sender}} to {{message.receiver}}
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>
                        {{message.content}}
                    </p>
                    <footer class="blockquote-footer">
                        {{message.sentOn }}
                    </footer>
                  </blockquote>
                </div>
              </div>
        </div>
        <form (ngSubmit)="sendAMessage()" [formGroup]="chatForm" class="message-form">
            <div class="input-container">
                <input type="text" name="message" id="message" class="in" placeholder="enter message...." formControlName="content" required>
                <button type="submit" class="send-btn btn-success" [disabled]="chatForm.invalid">send</button>
            </div>
        </form>
    </div>
</section>
