<section class="login">
    <h1 class="auth-heading"> Student Login Form </h1>
    <div class="container">
        
        <div class="form-img-container">
            <img src="./../../../assets/img/log1-removebg-preview.png" alt="" srcset="">
        </div>

        <div class="form-container">
            <form (ngSubmit)="login()">

                <span class="left">
                    Do not have an account? <a class="signup-btn" routerLink="/auth/signup">signup</a>
                </span>
                <div class="user-details">

                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>

                <div class="rem-container">
                    <span>Forgot <a class="forgot-pwd" href="#">password?</a></span>
                </div>
                
                <button mat-button class="login" type="submit">Login</button>
            </form>
            <div class="separation">
                <p class="or">or</p>
            </div>

            <div class="social-btn-container">
                <button mat-button  class="login-btn" (click)="googleLogin()">Login with Google</button>
                <button mat-button class="login-btn" (click)="facebookLogin()">Login with Facebook</button>
            </div>
            
        </div>
        
    </div>
</section>