<section class="instructor-section">
    <div class="instructor-navbar-wrapper">
        <div class="instructor-logo-container">
            <a href="#" class="instructor-logo">Logo</a>
        </div>

        <nav class="instructor-navbar-container">
            <ul class="instructor-navbar">
                <li class="instructor-navbar-item">
                    <mat-icon aria-label="false"  class="instructor-icon">home</mat-icon>
                </li>
            </ul>
        </nav>
    </div>

    aside.sider
</section>



