.main-container {
  height: 100vh;
  background: url("../../assets/img/background.png") no-repeat;
  background-size: cover;
  position: relative;
}

.main-container .sidebar-container {
  position: fixed;
  width: 220px;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
}

.main-container .sidebar-container .sidebar-logo {
  padding: 10px 15px 5px 20px;
  font-size: 20px;
  background-color: #12707f;
}

.main-container .sidebar-container .sidebar-logo .avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.main-container .sidebar-container .sidebar-logo .name {
  margin-top: 8px;
  font-weight: normal;
  font-size: 1.5rem;
}

.main-container .sidebar-container .sidebar-logo .designation {
  margin-top: 2px;
  font-size: 1rem;
  color: lightgray;
}

.main-container .sidebar-container .sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.main-container .sidebar-container .sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.main-container .sidebar-container .sidebar-navigation .header::before {
  background-color: transparent;
}

.main-container .sidebar-container .sidebar-navigation .side-nav-dropdown {
  padding-top: 10px;
  padding-left: 30px;
  list-style: none;
  display: none;
}

.main-container .sidebar-container .sidebar-navigation .side-nav-dropdown li > a {
  color: #aaa;
  text-decoration: none;
  padding: 7px 0;
  display: block;
}

.main-container .sidebar-container .sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.main-container .sidebar-container .sidebar-navigation li::before {
  background-color: #ff4400;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.main-container .sidebar-container .sidebar-navigation li:hover::before {
  width: 100%;
}

.main-container .sidebar-container .sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
}

.main-container .sidebar-container .sidebar-navigation li a:active, .main-container .sidebar-container .sidebar-navigation li a:hover, .main-container .sidebar-container .sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.main-container .sidebar-container .sidebar-navigation .fa {
  margin-right: 10px;
}

.content-container {
  padding-left: 220px;
  margin-top: 0;
}

.jumbotron {
  background: none;
  height: 90vh;
}

.navbar-custom {
  background-color: #034453;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
  font-weight: 800;
}

nav .navbar-toggler:focus,
nav .navbar-toggler:active,
nav .navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=instructor.component.css.map */