<header class="header">
    <nav class="navbar">
        <h1 class="logo-txt">SMS</h1>
        <ul class="navlist">
            <li><a routerLink="home" routerLinkActive="active" class="navlink">home</a></li>
            <li><a routerLink="auth" routerLinkActive="active" class="navlink">auth</a></li>
            <li><a routerLink="newUser" routerLinkActive="active" class="navlink">user</a></li>
            <li><a routerLink="student" routerLinkActive="active" class="navlink">student</a></li>
            <li><a routerLink="instructor" routerLinkActive="active" class="navlink">instructor</a></li>
            <li><a routerLink="admin" routerLinkActive="active" class="navlink">admin</a></li>
        </ul>
    </nav>
</header>
